<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="createForm(types.Add)"
    class="btn btn-primary m-2">Add Item</button>
  <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="createForm(types.Remove)"
    class="btn btn-primary m-2">Buy Item </button>
  <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="createForm(types.Add)"
    class="btn btn-primary m-2">Return Item </button>

  <div style="text-align:center" class="row card dark-bg p-3  m-2">
    <h1>
      items in {{ title }}!
    </h1>
    <div class="row" style="text-align:center">
      <div class="col-md-3 text-white bg-info  m-3" *ngFor="let item of items$ | async">
        <div class="card-header">{{item.name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{item.value}}</h5>
          <p class="card-text">{{item.Qty}}
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{mTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="text-align: left" class="modal-body">
          <form [formGroup]="signForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Item Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="name" placeholder="Enter item name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">item Value</label>
              <input type="number" min="1" class="form-control" id="exampleInputPassword1" formControlName="value"
                placeholder="Enter item value">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">item Quantity</label>
              <input type="number" min="1" class="form-control" id="exampleInputPassword1" formControlName="Qty"
                placeholder="Enter item Quantity">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" [disabled]="!signForm.valid" data-dismiss="modal" (click)="exec(mTitle)"
                class="btn btn-primary">Save
                changes</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>